.backgroundDarkBlue {
    background-color: rgb(2, 4, 32);
}

.form-control:focus {
    border-color: #28a745;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.25);
}

@keyframes loading {
    0% {
        transform: rotateY(0deg);
    }
    25% {
        transform: rotateY(90deg);
    }
    50% {
        transform: rotateY(180deg);
    }
    75% {
        transform: rotateY(270deg);
    }
    100% {
        transform: rotateY(360deg);
    }
}

.loading-container {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

.loading-text {
    animation: loading 2s infinite linear;
}